@media screen and (min-width:330px) and (max-width:990px){
    .what-we-do-title h5{
        color:  rgb(6, 190, 138);
        margin-top: 5px;
        margin-left: 5%;
     }

     *, ::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      body {
        background: #fff;
      }
      
      .containerr {
        display: flex;
        flex-direction: column;
        position: relative;
        width:100%;
        height: auto;
        background: #f1f1f1;
        /* margin: 100px auto 0; */
        word-break: break-all;
        /* border: 1px solid rgba(0, 0, 0, 0.274); */
      }
      
      .bloc-tabs {
        display: flex;
        padding-bottom: 20px;
      }
      .tabs {
        text-align: center;
        width: 50%;
        background-color: white;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.274);
        box-sizing: content-box;
        position: relative;
        outline: none;
      }
      .tabs:not(:last-child){
        border-right: 1px solid rgba(0, 0, 0, 0.274);
      }
      
      .active-tabs  {
        background:  rgb(6 190 138);
        /* border-bottom: 1px solid transparent; */
      }
      
      .active-tabs::before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + 2px);
        height: 5px;
      }
      
      button {
        border: none;
      }
      .content-tabs {
        flex-grow : 1;
      }
      .content {
        background: white;
        width: 100%;
        height: auto;
        display: none;
      }
      .active-content {
        display: block;
      }

     
     .service-image img{
         width: 100px;
         height: 150px;
         margin-right: 20px;
     }
     .services{
         display: flex;
         flex-direction: row;
         justify-content:center;
         margin-bottom: 5px;
     }
     
     .services .button{
         background-color:white;
         border: 1px;
         border-style: solid;
         border-color: rgb(15, 72, 9);
         color:rgb(15, 72, 9);
         padding: 6px 25px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 11px;
         margin: 4px 2px;
         cursor: pointer;
     }
     
     .services .button:hover{
         background-color: rgb(6, 190, 138);
         border: 1px;
         border-style: solid;
         border-color:  rgb(6, 190, 138);
         color:white;
         padding: 6px 25px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 11px;
         margin: 4px 2px;
         cursor: pointer;}
     
     .service-button .button{
         background-color: rgb(6, 190, 138);
         border: 1px;
         border-style: solid;
         border-color:  rgb(6, 190, 138);
         color:white;
         padding: 6px 25px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 11px;
         margin: 4px 2px;
         cursor: pointer;}
     
     .services-content{
         background-color: rgba(204, 204, 196, 0.29);
         display: flex;
         flex-direction: row;
         padding: 20px;
     
     }
     
     .service-discription h6{
         color:  rgb(6, 190, 138);
     
     }
     .what-we-do{
         width: 100%;
     }
    
}

@media screen and (min-width:991px){

    *, ::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      body {
        background: #fff;
      }
      
      .containerr {
        display: flex;
        flex-direction: column;
        position: relative;
        width:100%;
        height: auto;
        background: #f1f1f1;
        /* margin: 100px auto 0; */
        word-break: break-all;
        /* border: 1px solid rgba(0, 0, 0, 0.274); */
      }
      
      .bloc-tabs {
        display: flex;
        padding-bottom: 20px;
      }
      .tabs {
        text-align: center;
        width: 50%;
        background-color: white;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.274);
        box-sizing: content-box;
        position: relative;
        outline: none;
      }
      .tabs:not(:last-child){
        border-right: 1px solid rgba(0, 0, 0, 0.274);
      }
      
      .active-tabs  {
        background:  rgb(6 190 138);
        /* border-bottom: 1px solid transparent; */
      }
      
      .active-tabs::before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + 2px);
        height: 5px;
      }
      
      button {
        border: none;
      }
      .content-tabs {
        flex-grow : 1;
      }
      .content {
        background: white;
        width: 100%;
        height: auto;
        display: none;
      }
      .active-content {
        display: block;
      }

    .what-we-do-title h5{
        color:  rgb(6, 190, 138);
        margin-top: 5px;
        margin-left: 0px;
     }
     
     .service-image img{
         width: 200px;
         height: 250px;
         margin-right: 20px;
     }
     /* .services{
         display: flex;
         flex-direction: row;
         justify-content:center;
         margin-bottom: 5px;
     } */
     
     /* .services .button{
         background-color:white;
         border: 1px;
         border-style: solid;
         border-color: rgb(15, 72, 9);
         color:rgb(15, 72, 9);
         padding: 6px 25px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 11px;
         margin: 4px 2px;
         cursor: pointer; 
     }*/
     
     /* .services .button:hover{
         background-color: rgb(6, 190, 138);
         border: 1px;
         border-style: solid;
         border-color:  rgb(6, 190, 138);
         color:white;
         padding: 6px 25px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 11px;
         margin: 4px 2px;
         cursor: pointer;} */
     
     .service-button .button{
         background-color: rgb(6, 190, 138);
         border: 1px;
         border-style: solid;
         border-color:  rgb(6, 190, 138);
         color:white;
         padding: 3px 15px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 11px;
         margin: 4px 2px;
         cursor: pointer;}
     
     .services-content{
         background-color: rgba(204, 204, 196, 0.29);
         display: flex;
         flex-direction: row;
         padding: 20px;
         
         /* margin-top: 20px; */
     
     }
     
     .service-discription h6{
         color:  rgb(6, 190, 138);
     
     }

     .what-we-do{
         width: 100%;
     }
}
